h1 
{

    color: rgb(15, 185, 106);
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

body
{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: justify;

}

.texto-vermelho
{

    color:chocolate;
}


#linha3
{

    color:darkorchid;

}