h1
{

    background-color: rgb(156, 22, 233);

}

div
{

    height: 50px;
    width: 200px;
    background-color: green;


}
/* Quadro principal */
#quadro2
{

    opacity: 0.6 ;

}
/*Quadro com opacidade de 0,3*/
#quadro3
{

    opacity: 0.3 ;

}

#quadro4
{

    opacity: 0.1 ;

}